@page
@model TeamHGSTalentContest.Pages.Faqs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Faq</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Faq.Question" class="control-label font-weight-bold"></label>
                <textarea asp-for="Faq.Question" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Faq.Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faq.Answer" class="control-label font-weight-bold"></label>
                <textarea asp-for="Faq.Answer" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Faq.Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faq.Order" class="control-label font-weight-bold"></label>
                <input asp-for="Faq.Order" class="form-control" />
                <span asp-validation-for="Faq.Order" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Faq.IsPublic" /> @Html.DisplayNameFor(model => model.Faq.IsPublic)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
