@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <img src="~/images/HGStalents.jpg" class="img-fluid" alt="HGS Talent Show" />
    <div class="row text-left">
        <div class="col">
            <div class="container mt-4">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Contest Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="rules-tab" data-toggle="tab" href="#rules" role="tab" aria-controls="rules" aria-selected="true">Rules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">FAQs</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content border-left border-bottom border-right p-4" style="border-color:#dee2e6;">
                    <div class="tab-pane" id="rules" role="tabpanel" aria-labelledby="rules-tab">
                        <h4 class="text-left">Rules</h4>
                        <ul class="text-left">
                            @foreach (var rule in Model.Rules)
                            {
                                <li>@rule.Name</li>
                            }
                        </ul>
                        <h5 class="text-danger">NO EXCEPTIONS WILL BE MADE TO THESE RULES!</h5>
                        <h6>Rules are subject to change at the sole discretion of the HGS GBM organizers.</h6>
                    </div>
                    <div class="tab-pane text-left" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                        <h4 class="text-left">Frequently Asked Questions</h4>
                        @foreach (var faq in Model.Faqs)
                        {
                            <p>
                                <a data-toggle="collapse" href="#question_@faq.Id" role="button" aria-expanded="false" aria-controls="question_@faq.Id">
                                    @faq.Question
                                </a>
                            </p>
                            <div class="collapse multi-collapse" id="question_@faq.Id">
                                <ul><li>@faq.Answer</li></ul>
                                    
                            </div>
                        }
                    </div>
                    <div class="tab-pane active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        @Html.Raw(Model.Body)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            
        </div>
    </div>
</div>
